{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="content">
            <h1>GRATULACJE!</h1>
            <h2>Udało Ci się! Jesteś najlepszym strażakiem!</h2>
            <h3>Chcesz się sprawdzić w rzeczywistości? Przyjdź do nas!</h3>
            <h4>Zapraszamy Cię na pierwsze spotkanie nowej Młodzieżowej Drużyny Pożarniczej!</h4>
            <img src="{{ asset('images/banner.png') }}" alt="">
        </div>
    </div>
{% endblock %}